  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,700,400italic);

  .sgpm-title a {
	color: #030303;  
  }
  .main-gallery > ul {
  	margin-bottom:1.414em;
  	padding-left:0;
  }
  .no-bullets {
  	list-style:none;
  	padding-left:0;
  }
  .no-bullets > ul {
  	list-style:none;
  	padding-left:0;
  }
  body {min-width:420px;}
  footer {
  	margin-top:2.84em;
  	padding-top:1.414em;
  	border-top:0.3px solid #aaa ;
  }
  header {
  	margin-bottom:2.84em;
  }
  main {
  	display:block;
  	clear:both;
  }
  </style>